.otraClase {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 30px;
  min-height: 300px;
}

.card {
  max-width: 300px;
}

#menUnicode {
    display: inline-block;
    transform: scale(2.5, 2.5);
}

.img-opacity{
  opacity: 1;
}