

{{#if productos }}

    {{>menu}}
        {{>welcome}}

{{else}}
        <h2 class="lead text-center pt-4">La Veguita WEB <br> los espera desde mañana <br> con atención normal</h2>
{{/if }}

{{>dashboard}}

{{>modal}}