    {{>menu}}
        {{>welcome}}

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="text-center">Política de Privacidad</h2>
        <p>Babarusi Cristian desarrolló la aplicación Generador de Código Clave como una aplicación compatible con publicidad. Este SERVICIO es proporcionado por Babarusi Cristian sin costo alguno y está destinado para su uso tal cual es.</p>
        <p>Esta página se utiliza para informar a los visitantes sobre mis políticas con respecto a la recopilación, uso y divulgación de Información Personal en caso de que alguien decida utilizar mi Servicio.</p>
        <p>Si decides utilizar mi Servicio, aceptas la recopilación y uso de información en relación con esta política. La Información Personal que recopilo se utiliza para proporcionar y mejorar el Servicio. No utilizaré ni compartiré tu información con nadie, excepto como se describe en esta Política de Privacidad.</p>
        <p>Los términos utilizados en esta Política de Privacidad tienen el mismo significado que en nuestros Términos y Condiciones, que son accesibles en Generador de Código Clave, a menos que se defina lo contrario en esta Política de Privacidad.</p>
                <p class="text-center"><strong>Recopilación y Uso de la Información</strong></p> 
        <p>Para una mejor experiencia, mientras utilizas nuestro Servicio, es posible que te solicite que nos proporciones cierta información de identificación personal. La información que solicito se retendrá en tu dispositivo y no se recopila de ninguna otra manera.</p>
        <p>La aplicación utiliza servicios de terceros que pueden recopilar información utilizada para identificarte.</p>
        <div>
          <p>Enlace a las políticas de privacidad de los proveedores de servicios de terceros utilizados por la aplicación</p>
          <ul>
            <li><a href="https://www.google.com/policies/privacy/" target="_blank">Google Play Services</a></li>
            <li><a href="https://support.google.com/admob/answer/6128543?hl=en" target="_blank">AdMob</a></li>
          </ul>
        </div>
        <p class="text-center"><strong>Datos de Registro</strong></p> 
        <p>Quiero informarte que cada vez que utilizas mi Servicio, en caso de un error en la aplicación, recopilo datos e información (a través de productos de terceros) en tu teléfono llamados Datos de Registro. Estos Datos de Registro pueden incluir información como la dirección de Protocolo de Internet ("IP") de tu dispositivo, el nombre del dispositivo, la versión del sistema operativo, la configuración de la aplicación al utilizar mi Servicio, la fecha y hora de tu uso del Servicio y otras estadísticas.</p>
        <p class="text-center"><strong>Cookies</strong></p> 
        <p class="text-center">
  Las cookies son archivos con una pequeña cantidad de datos que se utilizan comúnmente como identificadores únicos anónimos. Estos se envían a su navegador desde los sitios web que visita y se almacenan en la memoria interna de su dispositivo.
</p>
<p class="text-center">
  Este servicio no utiliza estas "cookies" de manera explícita. Sin embargo, la aplicación puede utilizar código y bibliotecas de terceros que usan "cookies" para recopilar información y mejorar sus servicios. Tiene la opción de aceptar o rechazar estas cookies y saber cuándo se envía una cookie a su dispositivo. Si elige rechazar nuestras cookies, es posible que no pueda utilizar algunas partes de este servicio.
</p>
<p class="text-center"><strong>Proveedores de servicios</strong></p>
<p class="text-center">
  Puedo contratar a empresas y particulares de terceros por las siguientes razones:
</p>
<ul class="text-center">
  <li>Facilitar nuestro servicio;</li>
  <li>Proporcionar el servicio en nuestro nombre;</li>
  <li>Realizar servicios relacionados con el servicio; o</li>
  <li>Ayudarnos a analizar cómo se utiliza nuestro servicio.</li>
</ul>
<p class="text-center">
  Quiero informar a los usuarios de este servicio que estos terceros tienen acceso a su información personal. La razón es realizar las tareas asignadas en nuestro nombre. Sin embargo, están obligados a no divulgar ni utilizar la información para ningún otro propósito.
</p>
<p class="text-center"><strong>Seguridad</strong></p>
<p class="text-center">
  Valoramos su confianza al proporcionarnos su información personal, por lo tanto, nos esforzamos por utilizar medios comercialmente aceptables para protegerla. Pero recuerde que ningún método de transmisión por Internet o método de almacenamiento electrónico es 100% seguro y confiable, y no podemos garantizar su seguridad absoluta.
</p>
<p class="text-center"><strong>Enlaces a otros sitios</strong></p>
<p class="text-center">
  Este servicio puede contener enlaces a otros sitios. Si hace clic en un enlace de terceros, será dirigido a ese sitio. Tenga en cuenta que estos sitios externos no son operados por nosotros. Por lo tanto, le recomendamos encarecidamente que revise la política de privacidad de estos sitios web. No tenemos control sobre y no asumimos ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de sitios o servicios de terceros.
</p>
<p class="text-center"><strong>Privacidad de los niños</strong></p>
<p class="text-center">
  Estos servicios no están dirigidos a menores de 13 años. No recopilamos intencionalmente información de identificación personal de niños menores de 13 años. En caso de que descubramos que un niño menor de 13 años nos ha proporcionado información personal, eliminamos inmediatamente esta información de nuestros servidores. Si usted es padre/madre o tutor y sabe que su hijo nos ha proporcionado información personal, por favor contáctenos para que podamos tomar las acciones necesarias.
</p>
<p class="text-center"><strong>Cambios en esta política de privacidad</strong></p> 
<p>Podemos actualizar nuestra Política de privacidad de vez en cuando. Por lo tanto, se le aconseja que revise esta página periódicamente para conocer los cambios. Le notificaremos cualquier cambio publicando la nueva Política de privacidad en esta página. Estos cambios serán efectivos inmediatamente después de su publicación en esta página.</p>
<p class="text-center"><strong>Contacto</strong></p>
<p>Si tiene alguna pregunta o sugerencia sobre nuestra Política de privacidad, no dude en ponerse en contacto con nosotros en babarusi.cristian@gmail.com.</p>
    </body>